<div class="container-fluid">
	<h3> New band: </h3>
	<form [formGroup]="bandForm" (ngSubmit)="submitBand()">
		<label> Name: <input formControlName="name" type="string" required> </label>
		<label> Year of foundation: <input formControlName="dateoffoundation" type="string"></label>
		<label> Genere: <input formControlName="genere" type="string"></label>
		<label> Description: <input formControlName="short_desc" type="string"></label>
		<label> Members: 
			<label> name <input formControlName="mbm_name" type="string"></label>
			<label> nickname 	<input formControlName="mbm_nickname" type="string"></label>
			<label> surname 	<input formControlName="mbm_surname" type="string"></label>
			<label> instruments 	<input formControlName="mbm_instrument" type="string"></label>
		</label>
		<input type="submit">
	</form>
</div>
