.container-fluid { 
  display: flex; 
  justify-content: center; 
  padding-top: 25px; 
}

.hidden {
	display: none;
	visibility: none;
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}
